.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(to right, #6f5fff, #7bbcfe);
}

h1 {
  font-size: 2rem;
  margin-bottom: 25px;
  text-shadow: #ddd 1px 1px 3px;
}
